<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Sarala:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/regression/2.0.1/regression.min.js" integrity="sha512-0k6FXllQktdobw8Nc8KQN2WtZrOuxpMn7jC2RKCF6LR7EdOhhrg3H5cBPxhs3CFzQVlO6ni1B9SDLUPhBs0Alg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="/style.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="shortcut icon" href="/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <title>BunnyMatrix</title>
    </head>
    <body>
        <header>
            <h1>BunnyMatrix</h1>
            <div>
                <h2>*Company*</h2>
                <nav>
                    <a class="selected">Data</a>
                </nav>
            </div>
        </header>
        <div id="container">
            <h3>Data Metrics</h3>
            from:<input type="date" id="startDate">
            to:<input type="date" id="endDate">
            <input type="submit" onclick="restrictChart(myChart, document.getElementById('startDate').value, document.getElementById('endDate').value)">
            <canvas id="myChart" width="1000" height="500"></canvas>
            predict:<input type="date" id="xinput" onchange="userXInput()">
            <input type="text" id="youtput" readonly>
            <script>
                var jsonData;
                function readTextFile(file, callback) {
                    var rawFile = new XMLHttpRequest();
                    rawFile.overrideMimeType("application/json");
                    rawFile.open("GET", file, true);
                    rawFile.onreadystatechange = function() {
                        if (rawFile.readyState === 4 && rawFile.status == "200") {
                            callback(rawFile.responseText);
                            run();
                        }
                    }
                    rawFile.send(null);
                }

                readTextFile("/uploads/<%= fileName %>.json", function(text){
                    jsonData = JSON.parse(text);
                });
            </script>
            <script src="/analyze.js"></script>
        </div>
    </body>
</html>